/* preview — посилання на маленьку версію зображення для картки галереї
   original — посилання на велику версію зображення для модального вікна
   description — текстовий опис зображення, для атрибута alt малого зображення та підпису великого зображення в модалці. 
*/
